<!-- footer -->
<footer class="footer">
    <div class="footer-container">
        <!-- Sección de perfil -->
        <div class="footer-section footer-profile">
            <h3>Manuel Adrián Chet Samayoa</h3>
            <p>Estudiante de Ingenieria en sistemas</p>
        </div>

        <!-- Sección combinada de enlaces rápidos y redes sociales -->
        <div class="footer-section footer-links-social">
            <h4>Enlaces Rápidos</h4>
            <ul>
                <li><a href="#inicio">Inicio</a></li>
                <li><a href="#sobremi">Sobre mí</a></li>
                <li><a href="#proyectos">Proyectos</a></li>
                <li><a href="#habilidades">Habilidades</a></li>
                <li><a href="#contacto">Contacto</a></li>
            </ul>
            <h4>Sígueme</h4>
            <div class="social-icons">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
            </div>
        </div>
    </div>
    
    <!-- Línea divisoria y derechos reservados -->
    <div class="footer-bottom">
        <p>&copy; 2024 Manuel Adrián Chet Samayoa. Todos los derechos reservados.</p>
    </div>
    <script src="js/animaciones.js"></script>
    <script src="js/script.js"></script>
</footer>

