<section class="skills" id="skills">
    <div class="contenido-seccion">
        <h2>Habilidades</h2>
        <div class="fila">
            <!-- Habilidades técnicas -->
            <div class="col">
                <h3>Habilidades Técnicas</h3>
                <div class="skill">
                    <span>JavaScript</span>
                    <div class="barra-skill">
                        <div class="progreso javascript" style="width: 0%;">
                            <span class="porcentaje">30%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>HTML & CSS</span>
                    <div class="barra-skill">
                        <div class="progreso htmlcss" style="width: 0%;">
                            <span class="porcentaje">40%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Java</span>
                    <div class="barra-skill">
                        <div class="progreso java" style="width: 0%;">
                            <span class="porcentaje">50%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>SQL Server</span>
                    <div class="barra-skill">
                        <div class="progreso sqlserver" style="width: 0%;">
                            <span class="porcentaje">50%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Otras habilidades -->
            <div class="col">
                <h3>Otras Habilidades</h3>
                <div class="skill">
                    <span>Comunicación</span>
                    <div class="barra-skill">
                        <div class="progreso comunicacion" style="width: 0%;">
                            <span class="porcentaje">60%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Trabajo en Equipo</span>
                    <div class="barra-skill">
                        <div class="progreso trabajo" style="width: 0%;">
                            <span class="porcentaje">70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Creatividad</span>
                    <div class="barra-skill">
                        <div class="progreso creatividad" style="width: 0%;">
                            <span class="porcentaje">75%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Dedicación</span>
                    <div class="barra-skill">
                        <div class="progreso dedicacion" style="width: 0%;">
                            <span class="porcentaje">70%</span>
                        </div>
                    </div>
                </div>
                <div class="skill">
                    <span>Autoaprendizaje</span>
                    <div class="barra-skill">
                        <div class="progreso aprender" style="width: 0%;">
                            <span class="porcentaje">50%</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>