<section id="inicio" class="inicio">
    <div class="contenedor-img">
        <img src="images/manuel.png" alt="Fotografia de manuel">
    </div>
    <div class="contenido-texto">
        <h1 class="titulo">Manuel Chet</h1>
        <h2 class="subtitulo">Estudiante de Ingeniería en Sistemas</h2>
        <div class="redes">
            <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
    </div>
</section>