        <head>
            <link rel="stylesheet" href="/public/assets/css/navbar.css"/>
            <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

        </head>
        <header>
    <div class="logo">
        <a href="/">Manuel Chet</a>
    </div>
    <nav id="nav">
        <ul>
            <li><a href="/home#inicio" onclick="seleccionar()">INICIO</a></li>
            <li><a href="/home#sobremi" onclick="seleccionar()">SOBRE MI</a></li>
            <li><a href="/home#skills" onclick="seleccionar()">SKILLS</a></li>
            <li><a href="/home#proyectos" onclick="seleccionar()">PROYECTOS</a></li>
            <li><a href="/home#contacto" onclick="seleccionar()">CONTACTO</a></li>
        </ul>
    </nav>
    <div class="nav-responsive" onclick="mostrarOcultarMenu()">
        <i class="fa-solid fa-bars"></i>
    </div>
</header>
