<section id="proyectos" class="proyectos">
    <div class="contenido-seccion">
        <h2>PROYECTOS</h2>
        <div class="galeria">
            <div class="proyecto">
                <a href="/proyecto1">
                    <img src="images/PR1.jpg" alt="CALCULADORA PROBABILISTICA">
                    <div class="overlay">
                        <h3>CALCULADORA PROBABILISTICA</h3>
                        <p>Haz clic para más información</p>
                    </div>
                </a>
            </div>
            <div class="proyecto">
                <a href="/proyecto2">
                    <img src="images/PR2.jpg" alt="ADMINISTRADOR DE TAREAS">
                    <div class="overlay">
                        <h3>ADMINISTRADOR DE TAREAS</h3>
                        <p>Haz clic para más información</p>
                    </div>
                </a>
            </div>
            <div class="proyecto">
                <a href="/proyecto3">
                    <img src="images/PR3.png" alt="CAJERO AUTOMATICO">
                    <div class="overlay">
                        <h3>CAJERO AUTOMATICO</h3>
                        <p>Haz clic para más información</p>
                    </div>
                </a>
            </div>
            <div class="proyecto">
                <a href="/proyecto4">
                    <img src="images/PR4.png" alt="CALCULADORA MRU Y MRUV">
                    <div class="overlay">
                        <h3>CALCULADORA MRU Y MRUV</h3>
                        <p>Haz clic para más información</p>
                    </div>
                </a>
            </div>
            <div class="proyecto">
                <a href="/proyecto5">
                    <img src="images/PR5.png" alt="PROYECCION DE CREDITOS">
                    <div class="overlay">
                        <h3>PROYECCION DE CREDITOS</h3>
                        <p>Haz clic para más información</p>
                    </div>
                </a>
            </div>
            <div class="proyecto">
                <a href="/proyecto6">
                    <img src="images/PR6.png" alt="GESTION DE RESTAURANTE">
                    <div class="overlay">
                        <h3>GESTION DE RESTAURANTE</h3>
                        <p>Haz clic para más información</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
