<section id="sobremi" class="sobremi">
    <div class="contenido-seccion">
        <h2>Sobre Mí</h2>
        <p><span>Hola, soy Manuel Adrián Chet Samayoa. Estudio ingeniería en sistemas de información y siempre estoy aprendiendo nuevas tecnologías para mejorar en mi carrera profesional.</p>

        <div class="fila">
            <!-- datos personales -->
            <div class="col personal-info">
                <h3>Información Personal</h3>
                <ul>
                    <li><strong>Nombres:</strong> Manuel Adrián</li>
                    <li><strong>Apellidos:</strong> Chet Samayoa</li>
                    <li><strong>Fecha de Nacimiento:</strong> 08/07/2002</li>
                    <li><strong>Correo:</strong> mchets@miumg.edu.gt</li>
                    <li><strong>Dirección:</strong> Barrio San Antonio, Solola.</li>
                    <li><strong>Ocupación:</strong> Estudiante</li>
                </ul>
            </div>
        </div>
        <button class="btn-descargar">
            Descargar CV <i class="fa-solid fa-download"></i>
            <span class="overlay"></span>
        </button>
    </div>
</section>